<%- include ('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Welcome to AnimalWatch!</h1>
    <p class="lead">See some hand-picked cool animals and facts!</p>
    <hr class="my-4">
    <a class="btn btn-outline-primary btn-md" href="/animals">View all animals</a>
</div>

<%- include ('partials/footer') %>